body
{
    background: url(../images/background-def.jpg);
}

.drop-zone {
    min-height: 100px;
    border: 2px dashed #201d1d;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
}
.music-file {
   
    cursor: grab;
    height: 150px;
    width: 150px;
    margin: 50px;
}
img {
    height: 175px;
    width: 175px;
    border-radius: 50%;
}
/* Style for the Reset button */

#reset-button {
    padding: 10px 20px;
    background-color: #5294bf; /* Blue background color */
    color: #c14040; /* White text color */
    border: none;
    border-radius: 30px; /* Rounded button */
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;

    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 1px; /* Add spacing between letters */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    transition: background-color 0.3s, transform 0.3s; /* Add transitions for background color and scale */
  }
  
  /* Hover effect for the Reset button */
  #reset-button:hover {
    background-color: #b93939b1; /* Darker blue when hovering */
    transform: scale(1.05); /* Slightly scale up the button on hover */
    color: #fff;
  }
  
  /* Active (click) effect for the Reset button */
  #reset-button:active {
    background-color: #1f3a93; /* Even darker blue when clicked */
    box-shadow: none; /* Remove box shadow on click */
  }
  
#save-btn {
    padding: 10px 20px;
    background-color: #5294bf; /* Blue background color */
    color: #c14040; /* White text color */
    border: none;
    border-radius: 30px; /* Rounded button */
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 1px; /* Add spacing between letters */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    transition: background-color 0.3s, transform 0.3s; /* Add transitions for background color and scale *//* Add a smooth transition to the background color */
}
#save-btn:hover {
    background-color: #b93939b1; /* Darker blue when hovering */
    transform: scale(1.05); 
    color: #fff;
}
#save-btn:active {
    background-color: #1f3a93; /* Even darker blue when clicked */
    box-shadow: none;
} 
.drop-zone img {
    border: 2px solid #201d1d;
    border-radius: 6px;
}

.drop-here {
    text-align: center;
}

.drop-here p {
    padding-top: 10px;
    opacity: 60%;
}



footer {
    font-family: 'Gantari', sans-serif;
    
}
#rules {
    text-align: left;
} 
footer h2 {
    color: red;
}