*{

    margin: 0;
    padding: 0;
    font-family: 'Geologica', sans-serif;
    color: white;
    background-image: url(../image/photo5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.hidden
{
    display: none;
}
.name-logo
{
    margin-left: 500px;   
    padding-top: 15px;
}
object
{
    height: 100px;
    width: 200px;
    background: none;
    width: 30%;
    text-align: center;
    font-size: large;
}
#music-icon
{
    background: none;
   height: 100px;
   width: 100px;
}

.no-background
{
    background: none;
    margin: 20px;
}